<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Туристическое агентство</title>
    <!-- Подключение Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body style="background-image: url('/images/background.jpg'); background-size: cover; background-position: center;">
<!-- Навигационное меню -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #00cccc">
    <a class="navbar-brand" href="/hotTours">
        <img src="/images/logo.png" style="height: 2vw" alt="Bebra">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="font-size: 30px">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/hotTours">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hotTours/aboutUs">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hotTours/tours">Туры</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/hotTours/contacts">Контакты</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Шапка с текстом и изображением -->
<div class="container rounded my-0" style="background-color: #00cc99">
    <h1>Добро пожаловать в наше туристическое агентство!</h1>
    <p class="my-0">Мы поможем вам организовать незабываемое путешествие.</p>
    <h2 class="text-center mb-2">О нас</h2>
    <div class="row">
        <div class="col-md-6 mt-2">
            <img src="/images/about-image.jpg"
                 alt="О нас" class="img-fluid w-75">
        </div>
        <div class="col-md-6 mt-4">
            <p>Мы - ведущее туристическое агентство, предлагающее широкий спектр услуг по организации путешествий.
                Наша
                команда опытных специалистов поможет вам выбрать лучшее направление и составить индивидуальный
                маршрут.</p>
            <p>Мы сотрудничаем с проверенными партнерами и гарантируем высокое качество предоставляемых услуг.</p>
        </div>
    </div>
    <h2 class="text-center mb-4">Наши услуги</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="height: 600px">
                <img src="/images/track.png" class="card-img-top" alt="Услуга 1">
                <div class="card-body">
                    <h5 class="card-title">Экскурсии</h5>
                    <p class="card-text">Мы предлагаем широкий выбор экскурсий на различные
                        достопримечательности.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="height: 600px">
                <img src="/images/air.png" class="card-img-top" alt="Услуга 2" style="margin-bottom: 195px">
                <div class="card-body">
                    <h5 class="card-title">Горящие туры</h5>
                    <p class="card-text">У нас вы можете найти актуальные предложения по горящим турам по всему
                        миру.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="height: 600px">
                <img src="/images/beach.png" class="card-img-top" alt="Услуга 3" style="margin-bottom: 180px">
                <div class="card-body">
                    <h5 class="card-title">Отдых на море</h5>
                    <p class="card-text">Предлагаем отдых на лучших курортах со всеми удобствами и
                        развлечениями.</p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center mb-4">Контакты</h2>
    <div class="row px-5">
        <div class="col-md-12">
            <form>
                <div class="form-group">
                    <label for="name">Имя</label>
                    <input type="text" class="form-control" id="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Сообщение</label>
                    <textarea class="form-control mb-3" id="message" rows="5" required></textarea>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6 d-flex justify-content-center mb-3">
                        <button type="submit" class="btn btn-primary w-75">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Подвал -->
<footer class="footer bg-dark text-white mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6" style="font-size: 0.9em">
                <h4 class="d-flex justify-content-center align-content-center">Контакты</h4>
                <ul style="list-style-type: none">
                    <li>
                        Email: <a href="mailto:info@hott.ru">info@hott.ru</a>
                    </li>
                    <li>
                        Телефон: <a href="tel:+78007750220">+7-800-775-02-20</a> (для туристов)
                    </li>
                    <li>
                        Телефон: <a href="tel:+74996734131">+7-499-673-41-31</a> (для агентств)
                    </li>
                    <li>Адресс: 119021 , г. Москва,
                        улица Зубовский бульвар, д 16-20,
                        строение 1,Помещение Х1, комната 3
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4 class="d-flex justify-content-center align-content-center">Социальные сети</h4>
                <div class="d-flex justify-content-center">
                    <a href="https://vk.com/hott.travel" target="_blank" class="mr-2">
                        <img src="/images/vk.png" alt="Facebook" width="50vw" height="50vw">
                    </a>
                    <a href="https://ok.ru/hott.travel" target="_blank">
                        <img src="/images/ok.png" alt="Instagram" width="50vw" height="50vw">
                    </a>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <h4 style="font-size: 1.1em">© 2003-2023 Управляющая компания Объединенной сети ТБГ и «Горячие туры»</h4>
            <ul style="list-style-type: none; font-size: 0.6em">
                <li>Представленная на сайте информация
                    носит справочный характер
                    и не является публичной офертой
                </li>
            </ul>
        </div>
    </div>
</footer>

<!-- Подключение Bootstrap JS и jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>